@import "tailwindcss";

@theme {
  --color-purple-400: #a78bfa;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-gray-100;
}