@import "tailwindcss";

@theme {
  --color-accent: #a855f7; /* purple-500 */
  --color-accent-hover: #9333ea; /* purple-600 */
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-gray-100;
}